:host {
    display: block;
    height: 100vh;
  }
  
  .card {
    border: none;
    border-radius: 10px;
  }
  
  .btn {
    border-radius: 8px;
  }
  
  .form-control {
    border-radius: 8px;
    padding: 10px;
  }