@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}

html, body {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

/* Mejoras visuales */
.card {
  border: none;
  border-radius: 10px;
}

.btn {
  border-radius: 8px;
}

.form-control {
  border-radius: 8px;
}